
/* syntax */
/* .(period operator)class_name{
    properties:value;
} */

.main{
    color:aqua;
    background-color: cornsilk;
}
/* p {
    color: brown;
    font-size: 30px;
    margin-left: 30px;
    border: 1px solid black;
} */

.main1{
    border: 2px dotted blueviolet;
    padding-left: 20px;
}
.main2{
    background-color: chocolate;
    border: 2px solid black;
    height: 10px;
    width: 200px;
}
.main3{
    background-color:greenyellow;
    border: 2px solid black;
}
.main4{
    background-color: rgb(235, 25, 43);
    color: blue;
}
.container{
    font-size: 2rem;
    width: 250px;
    margin-left: 40px;
    border: 1px solid black;
    overflow: hidden;
    text-overflow: clip; 
   
}
div.container:hover{
    overflow:visible;
}

.container2{
    font-size: 2rem;
    width: 100px;
    margin-left: 40px;
    border: 1px solid black;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 50;
}
.textshadow{
    text-shadow: -6px -7px 4px red;
    font-size: 41px !important;
   /* background-color: cornflowerblue; */
}
.textshadow1{
    font-size: 30px;
    background-color: cornflowerblue
}
.container4{
    background-color: cornflowerblue;
    font-size: 30px;
}
.imgopacity{
    position: absolute;
    opacity: 1;
   
}
div.imgopacity img:hover {
    opacity: 0.5;
}
.parent{
    background-image: url('happyNewYear.jpg');
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    z-index: -1 !important;
    position: relative;
}
/* div.main{
z-index: -1 !important;
} */