.dropdown{
    position: relative; 
    background-color: #f3b8b8;
    /* overflow: hidden; */
    font-size: 22px;
    cursor: default;
   
}
.dropdown a{
    text-decoration: none;
}
.dropdown-content a{
 text-decoration: none;
}
.dropbtn{
    background-color: green;
    padding: 6px;
    border: none;
    color: white;
    cursor: pointer;
}
.dropdown .dropbtn.test{
    cursor: pointer;
}