.parent-container{
    min-height: 100%;
    background-color: rgb(246, 227, 202);
    position: relative;
    overflow: hidden;

}
.dropdown {
    background-color: #f3b8b8;
    overflow: hidden;
    /* position: sticky;
    top: 0px; */
} 

.dropdown a{
    text-decoration: none;
    float: left;
    padding: 13px 16px;
    font-size: 20px;
}
.dropdown-container{
    overflow: hidden;
    float: left;
}
.dropbtn {
    background-color: green;
    padding: 17px 16px;
    border: none;
    color: white;
    cursor: pointer;
    /* font-size: 20px; */
}
.dropdown-content{
    position: absolute;
    min-width: 140px;
    /* min-height: 140px; */
    background-color: aquamarine;
    /* display: block; */
    display: none;
    z-index: 1;
   
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    padding: 13px 16px;
    float: none;
}

.dropdown-container:hover .dropdown-content{
    display: block;
    z-index: 1;
}
.dropbtn:hover{
    /* background-color: #71ef80; */
    opacity: 0.5;
}
.dropdown-content a:hover{
   background-color: orange;
}
.link-3-container{
    overflow: hidden;
    /* float: left; */
}
.dropdown-link3-content{
    position: absolute;
    min-width: 140px;
    /* min-height: 140px; */
    background-color: aquamarine;
    /* display: block; */
    display: none;
    top: 100px;
    left: 142px;
}

.link-3-container:hover .dropdown-link3-content{
    display: block;
}
.sidebar{
    position: fixed;
    width: 120px;
    background-color: aquamarine;
    min-height: 559px; 
    top: 59px;
    overflow-y: scroll;
    height: 95%;
}
.footer{
    position: fixed;
    bottom: 0px;
    height: 50px;
    background-color: burlywood;
    min-width: 99%;
}
.middle-container{
    position: absolute;
    left: 135px;
    padding: 6px;
    min-height: 50%;
    height: 100%;
    overflow-y: scroll;
}

.mid-container-words {
    position: absolute;
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    display: block;
    top: 180px;
    left: 273px;
    overflow: hidden; 
    

}