.static-cls{
    border: 1px dotted blue;
    position: static;
}
.rel{
    position: relative;
    left: 60px;
    top: 60px;
    border: 1px dotted black;
}
.fix{
    position: fixed;
    left:200px;
    bottom: 0px;
    border: 1px solid yellow;
    height: 20px;
    width: 300px;

}
.parent{
    position: relative;
    height: 1000px;
    width: 900px;
    
}
.stick{
position: sticky ;
top: 0px;
background-color: chartreuse;
border:  1px solid yellow;
}
.stick1{
    position: sticky ;
    top: 20px;
    background-color: rgb(255, 106, 0);
    border:  1px solid yellow;
    }   


.main{
position: relative;
top: 30px;
left:40px;
height: 500px;
width: 500px;
background-color: chartreuse;
border: 1px solid yellow;
}
.innermain{
position: absolute;
top: 30px;
left:40px;
height: 500px;
width: 500px;
background-color: rgb(255, 0, 162);
border: 1px solid rgb(11, 11, 4);
}
.notfixed{
    position: sticky;
    bottom: 0px;
    background-color: blueviolet;
    color: white;
}