/* p:hover h2.h2-container{
    display: block;
    background-color: pink;
}
.h2-container{
    display: none;
} */

/* h1{
    display: none; 
}
p:hover h1{
    display: block;
} */

p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div:hover p {
  display: block;
}

/* h3{
    display: none; 
  }

  h1:hover h3 {
    display: block;
    background-color: aqua;
  } */

/* input:focus{
    background-color: coral;
  } */

input[type=text]:focus {
  background-color: antiquewhite;
}

input[type=number]:focus {
  background-color: aqua;
}

a:link {
  color: green;
}

a:visited {
  color: rgb(255, 94, 0);
}
a:active {
  color: yellow;
} 

input:checked {
  /* background-color: brown; */
  width: 30%;
  height: 30%;
  /* border: 5px; */

}

input[type=number]:disabled {
  background-color: chartreuse;
}